@font-face {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  src: local("Arial"), url(fonts/Arial.woff) format("woff"), url(fonts/Arial.ttf) format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  src: local("Georgia"), url(fonts/Georgia.woff) format("woff"), url(fonts/Georgia.ttf) format("ttf");
  font-display: swap;
}
html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 0;
}

h1 {
  width: 186px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  display: flex;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: 0;
}

h2 {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4C4C4C;
}

h3 {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4C4C4C;
}

h4 {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

p {
  margin: 0;
  font-size: 1.5rem;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.btn-primary {
  width: fit-content;
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  font-family: "Georgia";
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #292929;
  cursor: pointer;
  transition: 0.5s;
}
.btn-primary:hover {
  background: #FDDCC4;
}
.btn-primary:hover::before {
  width: 0% !important;
}

.btn-secondary {
  width: fit-content;
  padding: 15px 45px;
  background: rgba(255, 255, 255, 0);
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  font-family: "Georgia";
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  color: #292929;
  cursor: pointer;
  transition: 0.5s;
}
.btn-secondary:hover {
  background: rgba(8, 8, 8, 0.2);
}
.btn-secondary:hover::before {
  width: 0% !important;
}

.btn-arrow {
  width: 52px;
  height: 52px;
  padding: 0;
  background: rgba(255, 255, 255, 0);
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  font-family: "Arial";
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}
.btn-arrow:hover {
  background: rgba(8, 8, 8, 0.2);
}
.btn-arrow:hover::before {
  width: 0% !important;
}
.btn-arrow__active {
  background: #F1CDB3;
}
.btn-arrow__disable {
  cursor: default;
  border: 2px solid rgba(8, 8, 8, 0.2);
  background: rgba(8, 8, 8, 0.2);
}

a {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
a:before {
  content: "";
  background: #F1CDB3;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
a:hover {
  background-position: 0;
}
a:hover::before {
  width: 100%;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
.overlay__active {
  display: initial;
}

header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.header {
  width: 1280px;
  color: #FFFFFF;
}
.header__wrapper {
  margin: 30px 45px 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 186px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: #F1CDB3;
}
.header__logo-desc {
  width: inherit;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #FFFFFF;
}
.header__menu {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 36px;
}
.header__menu-item {
  width: fit-content;
  display: flex;
  align-items: center;
}
.header__menu-item a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #FFFFFF;
}
.header__menu-active {
  cursor: default;
  pointer-events: none;
}
.header__menu-active::before {
  width: 100%;
}
.header__hamburger {
  border: none;
  background-color: transparent;
  display: none;
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  width: 30px;
  height: 22px;
  z-index: 101;
}
.header__hamburger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #F1CDB3;
  border-radius: 4px;
}
.header__hamburger span:nth-of-type(1) {
  top: 0;
}
.header__hamburger span:nth-of-type(2) {
  top: 11px;
}
.header__hamburger span:nth-of-type(3) {
  bottom: 0;
}
.header__hamburger.active {
  -webkit-transform: rotate(360deg);
  transform: rotate(90deg);
}
.header__mobile {
  position: absolute;
  right: -330px;
  top: 0;
  width: 320px;
  height: 100vh;
  background: #292929;
  z-index: 100;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__mmenu {
  display: flex;
  flex-flow: column nowrap;
  margin: 506px 0 0;
  padding: 0;
  height: 100%;
  list-style: none;
  row-gap: 40px;
  align-items: center;
}
.header__mmenu-item {
  margin: 0;
  width: fit-content;
  display: flex;
  align-items: center;
}
.header__mmenu-item a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.2rem;
  text-decoration: none;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #FFFFFF;
}
.header__mmenu-active {
  cursor: default;
  pointer-events: none;
}
.header__mmenu-active::before {
  width: 100%;
}

@media (max-width: 769px) {
  .header__wrapper {
    margin: 30px 30px;
  }
}
@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
  .header__hamburger {
    display: inline-block;
  }
  .header__mobile-active {
    right: 0;
  }
}
@media (max-width: 480px) {
  .header__wrapper {
    margin: 28px 20px 30px;
  }
}
.promo {
  display: flex;
  justify-content: center;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
.promo__wrapper {
  max-width: 1200px;
  margin: 150px 40px 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 42px;
  justify-content: center;
  align-items: center;
}
.promo__block {
  width: 460px;
  padding-bottom: 50px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 42px;
}
.promo__title {
  width: 311px;
  letter-spacing: 0;
  color: #FFFFFF;
}
.promo__text {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 160%;
  font-size: 1.5rem;
  color: #CDCDCD;
}
.promo__img {
  width: 698px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .promo__wrapper {
    margin: 150px 4% 0;
  }
  .promo__block {
    width: 65%;
  }
  .promo__block .btn-primary {
    align-self: center;
  }
  .promo__title {
    width: 89%;
  }
  .promo__img {
    width: 82.5%;
    margin: 40px 0 0 130px;
  }
}
@media (max-width: 480px) {
  .promo__block {
    width: fit-content;
    align-items: center;
    row-gap: 40px;
  }
  .promo__title {
    width: 250px;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .promo__text {
    text-align: center;
  }
  .promo__img {
    width: 260px;
    margin: 55px 0 0 40px;
  }
}
.about {
  display: flex;
  justify-content: center;
}
.about__wrapper {
  max-width: 1200px;
  display: flex;
  flex-flow: row-reverse wrap;
  column-gap: 120px;
  row-gap: 80px;
  margin: 80px 40px 100px;
  justify-content: center;
  align-items: center;
}
.about__img {
  width: 300px;
}
.about__text {
  width: 430px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 25px;
}
.about__title {
  width: 370px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.about__desc {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

@media (max-width: 768px) {
  .about__wrapper {
    width: 82%;
  }
}
@media (max-width: 480px) {
  .about__wrapper {
    width: 100%;
    margin: 42px 10px;
    row-gap: 40px;
  }
  .about__text {
    width: fit-content;
    margin: 0 15px;
    text-align: justify;
    row-gap: 22px;
  }
  .about__title {
    width: fit-content;
    text-align: center;
    margin-bottom: 3px;
  }
  .about__img {
    width: 260px;
  }
}
.pets {
  display: flex;
  justify-content: center;
  background: #F6F6F6;
  padding: 80px 0 99px;
}
.pets__wrapper {
  width: 1200px;
  margin: 0 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 60px;
}
.pets__title {
  width: 400px;
  text-align: center;
  color: #4C4C4C;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.pets__slider {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 39px;
}
.pets__carusel {
  width: 82%;
  overflow: hidden;
  height: 435px;
}
.pets__cards-list {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: all 1s;
}
.pets__cards-list:nth-of-type(2) {
  margin-top: -435px;
}
.pets__cards-list:nth-of-type(3) {
  margin-top: -435px;
}
.pets__cards-list-left {
  margin-left: -110%;
  transition: all 1s;
}
.pets__cards-list-right {
  margin-left: 110%;
  transition: all 1s;
}
.pets__card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 30px;
  background: #fff;
  cursor: pointer;
  transition: 1s;
}
.pets__card .btn-secondary {
  margin: 0 0 26px;
}
.pets__card:hover {
  transform: scale(1.1);
}

@media (max-width: 1080px) {
  .pets__wrapper {
    margin: 0 30px;
  }
  .pets__slider {
    column-gap: 1.9%;
  }
  .pets__card:last-of-type {
    display: none;
  }
}
@media (max-width: 767px) {
  .pets__cards-list {
    width: fit-content;
    justify-content: center;
  }
  .pets__card:nth-of-type(2) {
    display: none;
  }
}
@media (max-width: 480px) {
  .pets {
    padding: 42px 0;
  }
  .pets__wrapper {
    row-gap: 43px;
  }
  .pets__cards_list {
    order: 1;
  }
  .pets__slider {
    width: fit-content;
    display: grid;
    row-gap: 22px;
    grid-template-areas: "A A" "B C";
  }
  .pets__slider .btn-arrow {
    justify-self: center;
    grid-area: B;
  }
  .pets__slider .btn-arrow:last-of-type {
    grid-area: C;
  }
  .pets__cards-list {
    grid-area: A;
  }
  .pets__card {
    row-gap: 28px;
  }
}
.help {
  display: flex;
  justify-content: center;
}
.help__wrapper {
  max-width: 1200px;
  margin: 80px 40px 100px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.help__title {
  width: 310px;
  margin-bottom: 60px;
  text-align: center;
}
.help__list {
  margin: 0 85px;
  display: flex;
  flex-flow: row wrap;
  column-gap: 11.6%;
  align-items: center;
  justify-content: center;
  row-gap: 55px;
}
.help__item {
  width: fit-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 30px;
}
.help__item-title {
  width: fit-content;
}

@media (max-width: 768px) {
  .help__wrapper {
    margin: 80px 69px 100px;
    width: 82%;
  }
  .help__list {
    margin: 0;
    column-gap: 0;
    justify-content: space-between;
  }
  .help__item {
    width: 170px;
  }
}
@media (max-width: 480px) {
  .help__wrapper {
    width: 100%;
    margin: 42px 15px;
  }
  .help__title {
    width: 240px;
    margin-bottom: 42px;
  }
  .help__list {
    align-items: start;
    gap: 30px;
  }
  .help__item {
    width: 130px;
    row-gap: 20px;
  }
  .help__item-icon {
    width: 50px;
  }
  .help__item-title {
    font-size: 1.5rem;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
}
.donation {
  display: flex;
  justify-content: center;
}
.donation__wrapper {
  max-width: 1200px;
  margin: 0 40px 98px;
  padding: 80px 0 0 0;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  row-gap: 60px;
}
.donation__img {
  width: 505px;
}
.donation__text {
  width: 380px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 20px;
}
.donation__title {
  width: 300px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: start;
}
.donation__desc {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.1rem;
}
.donation__cardnumber {
  width: 349px;
  display: flex;
  padding: 10px 15px;
  column-gap: 15px;
  background: #F1CDB3;
  border-radius: 9px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.1rem;
  color: #545454;
}
.donation__subdesc {
  width: 390px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;
  color: #4C4C4C;
}

@media (max-width: 768px) {
  .donation__subdesc {
    font-size: 1.22rem;
  }
  .donation__img {
    width: 73.1%;
  }
}
@media (max-width: 480px) {
  .donation__wrapper {
    width: 100%;
    margin: 42px 10px;
    padding: 0;
    row-gap: 37px;
  }
  .donation__text {
    width: 300px;
    align-items: center;
    row-gap: 24px;
  }
  .donation__title {
    width: 220px;
    text-align: center;
  }
  .donation__desc {
    width: 300px;
    font-size: 1.28rem;
    text-align: center;
  }
  .donation__cardnumber {
    width: 281px;
    padding: 14px 10px 10px 15px;
    font-size: 1.5rem;
    text-align: justify;
  }
  .donation__subdesc {
    width: 280px;
    text-align: justify;
    font-size: 1.17rem;
  }
  .donation__img {
    width: 260px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}
.footer__wrapper {
  max-width: 1200px;
  padding: 40px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 160px;
  row-gap: 25px;
}
.footer__block {
  width: fit-content;
  margin: 0 0 40px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 40px;
}
.footer__block:nth-of-type(2) {
  row-gap: 34px;
}
.footer__block:nth-of-type(2) > .footer__title {
  width: 302px;
}
.footer__title {
  width: 279px;
  text-align: start;
  color: #FFFFFF;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.2rem;
}
.footer__link {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #F1CDB3;
}
.footer__img {
  width: 299px;
}

@media (max-width: 768px) {
  .footer__wrapper {
    column-gap: 60px;
    padding: 30px 0 0;
  }
}
@media (max-width: 480px) {
  .footer__wrapper {
    row-gap: 40px;
  }
  .footer__block {
    margin: 0;
    align-items: center;
  }
  .footer__block:nth-of-type(2) {
    row-gap: 40px;
    align-items: start;
  }
  .footer__title {
    text-align: center;
  }
  .footer__img {
    width: 260px;
  }
}
.popup {
  display: none;
  flex-flow: column nowrap;
  align-items: start;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-47.3%, -50%);
  width: 952px;
}
.popup__active {
  display: flex;
}
.popup__close {
  align-self: end;
  width: 52px;
  height: 52px;
  margin: 0 10px;
  padding: 0;
  border: 1px solid #F1CDB3;
  border-radius: 50%;
  background: transparent;
  font-size: 2.2rem;
  cursor: pointer;
}
.popup__close:hover {
  background: #F1CDB3;
}
.popup__content {
  width: 900px;
  background: #fff;
  display: flex;
  border-radius: 9px;
}
.popup__content-img {
  width: 500px;
  height: 500px;
}
.popup__content-text {
  width: 360px;
  margin: 50px 20px 0px 29px;
}
.popup__content-subtitle {
  margin-top: 6px;
}
.popup__content-desc {
  margin-top: 44px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.popup__content-props {
  margin: 44px 0 0 0;
  padding: 0 15px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
}
.popup__content-props li {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.1em;
  color: #F1CDB3;
}
.popup__content-props li span {
  color: #000;
}

@media (max-width: 1080px) {
  .popup {
    width: 682px;
    transform: translate(-46.3%, -50%);
  }
  .popup__content {
    width: 630px;
  }
  .popup__content-img {
    width: 350px;
    height: 350px;
  }
  .popup__content-text {
    width: 261px;
    margin: 10px 8px 0px 11px;
  }
  .popup__content-subtitle {
    margin-top: 10px;
  }
  .popup__content-desc {
    margin-top: 20px;
    font-size: 1.3rem;
  }
  .popup__content-props {
    margin-top: 18px;
    font-size: 1.3rem;
    row-gap: 5px;
  }
}
@media (max-width: 720px) {
  .popup {
    width: 271px;
    transform: translate(-44.3%, -50%);
  }
  .popup__close {
    margin: 0;
  }
  .popup__content {
    width: 240px;
  }
  .popup__content-img {
    display: none;
  }
  .popup__content-text {
    width: 220px;
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .popup__content-title {
    font-size: 3.5rem;
  }
  .popup__content-subtitle {
    margin-top: 10px;
  }
  .popup__content-desc {
    margin-top: 20px;
    font-size: 1.3rem;
  }
  .popup__content-props {
    margin-top: 22px;
    font-size: 1.3rem;
    row-gap: 5px;
    padding: 0 30px 0 0;
  }
}
@media (max-width: 480px) {
  h2, h3 {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
