$primary: #F1CDB3 !default;
$primary-light: #FDDCC4 !default;
$text-dark: #545454 !default;
$text-dark-sub: #4C4C4C !default;
$text-light: #FFFFFF !default;
$text-light-sub: #CDCDCD !default;
$text-button: #292929 !default;
$background-second: #F6F6F6;
$promo-gradient-background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) !default;
$footer-gradient-background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);

$content-width: 1200px !default;
$desktop-width: 1280px !default;
$desktop-small-width: 1000px !default;
$tablet-width: 640px !default;
$mobile-width: 320px !default;