.about {
  display: flex;
  justify-content: center;
  &__wrapper {
    width: $content-width;
    display: flex;
    column-gap: 120px;
    margin: 80px 40px 100px;
    justify-content: center;
  }

  &__img {
    width: 300px;
  }

  &__text {
    width: 430px;
    margin-top: 14px;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 25px;
  }

  &__title {
    width: 370px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $text-dark;
  }
  &__desc {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: $text-dark-sub;
  }
}