.footer {
  display: flex;
  justify-content: center;
  background: $footer-gradient-background;

  &__wrapper {
    max-width: $content-width;
    padding: 46px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 160px;
  }

  &__block {
    width: fit-content;
    margin: 10px 0 0;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 40px;

    &:nth-of-type(2) {
      row-gap: 34px;
      & > .footer__title {
        width: 302px;
      }
    }
  }

  &__title {
    width: 279px;
    text-align: start;
    color: $text-light;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.2rem;
  }

  &__link {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: $primary;
  }

  &__img {
    width: 299px;
    margin: -8px 0 0;
  }
}