header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}


.header {
  width: $desktop-width;
  color: $text-light;

  &__wrapper {
    margin: 30px 40px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 186px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &-desc {
      width: inherit;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 1.3rem;
      line-height: 15px;
      letter-spacing: 0.1em;
      text-align: center;
    }
  }

  &__menu {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: 36px;

    &-item {
      width: fit-content;
      display: flex;
      align-items: center;

      & a {
        text-decoration: none;
        color: $text-light;
      }
    }

    &-active {
      border-bottom: 2px solid $primary;
    }
  }
}