.help {
  display: flex;
  justify-content: center;
  
  &__wrapper {
    max-width: map-get($breakpoint, 'content');
    margin: 80px 40px 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__title {
    width: 310px;
    margin: 0 0 60px;
    text-align: center;
  }

  &__list {
    margin: 0 85px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 11.6%;
    align-items: center;
    justify-content: center;
    row-gap: 55px;
  }

  &__item {
    width: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 30px;

    &-title {
      width: fit-content;
    }
  }
}