@use "fonts";

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 0;
}

main {
  overflow: hidden;
}

h1 {
  width: 186px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  display: flex;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: 0;
}

h2 {
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $text-dark-sub;
}

h3 {
  margin: 0;
  font-size: 3.5rem;
  line-height: 130%;
  color: #000000;
}

h4 {
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: $text-dark;
}

p {
  margin: 0;
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1.2rem;
  line-height: 120%;
  color: #000000;
}

.wrapper {
  width: $content-width;
  margin: 0 auto;
}

.btn-primary {
  width: fit-content;
  padding: 15px 45px;
  background: $primary;
  border-radius: 100px;
  border: none;
  font-family: 'Georgia';
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: $text-button;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background: $primary-light;
  }
}

.btn-secondary {
  width: fit-content;
  padding: 15px 45px;
  background: rgba(255, 255, 255, .0);
  border-radius: 100px;
  border: 2px solid $primary;
  font-family: 'Georgia';
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  color: $text-button;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background: rgb(8, 8, 8, 0.2);
  }
}

.btn-arrow {
  width: 52px;
  height: 52px;
  padding: 0;
  margin: 22px 0 0 0;
  background: rgba(255, 255, 255, .0);
  border-radius: 100px;
  border: 2px solid $primary;
  font-family: 'Arial';
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: $text-button;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background: rgb(8, 8, 8, 0.2);
  }
}

a {
  text-decoration: none;
  color: #000;
  transition: 1s;
}