@use "fonts";

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 0;
}

main {
  overflow: hidden;
}

h1 {
  width: 186px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 4.2rem;
  line-height: 120%;
  color: #000000;
}

h3 {
  margin: 0;
  font-size: 3.5rem;
  line-height: 130%;
  color: #000000;
}

p {
  margin: 0;
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1.2rem;
  line-height: 120%;
  color: #000000;
}

.wrapper {
  width: $content-width;
  margin: 0 auto;
}