header {
  position: static;
}

.header {
  color: $text-dark;

  &__logo {
    &-title {
      color: $text-dark;
    }
    &-desc {
      color: $text-dark;
    }
  }

  &__menu-item a {
    color: $text-dark;
  }

  &__hamburger {
    & span {
      background: #000;
    }
  }
}