.promo {
  display: flex;
  justify-content: center;
  background: $promo-gradient-background;
  &__wrapper {
    max-width: map-get($breakpoint, 'content');
    margin: 150px 40px 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 42px;
    justify-content: center;
    align-items: center;
  }

  &__block {
    width: 460px;
    padding-bottom: 50px;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 42px;
  }

  &__title {
    width: 311px;
    font-size: 4.4rem;
    letter-spacing: 0;
    color: $text-light;
  }

  &__text {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 160%;
    font-size: 1.5rem;

    color: $text-light-sub;
  }

  &__img {
    width: 698px;
    margin-top: 30px;
  }
}