---
layout: base.njk
---
{# 
{% block stylePage%}
<link href="{{ '/style.css' | url }}" rel="stylesheet" />
{% endblock %} #}

{% include './header.njk' %}

{% include './promo.njk' %}
{% include './about.njk' %}
{% include './pets.njk' %}
{% include './help.njk' %}
{% include './donation.njk' %}

{% include './footer.njk' %}
