$color-primary: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);;
$color-text: #333b41;
$color-additional: #4b9200;
$color-primary-hover: #e47209;
$color-cancel: #d31414;
$color-selection: #ffee2e;

$content-width: 1160px;
$desktop-width: 1600px;
$desktop-small-width: 1000px;
$tablet-width: 640px;
$mobile-width: 320px;